@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100;300;400;500;700;900&family=VT323&family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Workbench&display=swap');
:root {
    --font-normal: Verdana, Geneva, Tahoma, sans-serif;
    --font-titulo: 'Roboto', sans-serif;
    --font-titulo2: 'VT23', monospace;
    --font-titulo3: 'Xanh Mono', monospace;
    --font-display: 'Workbench', sans-serif;
    --font-cursiva: 'Indie Flower', cursive, serif;

    --cor1: #242582;
    --cor2: #553D67;
    --cor3: #F64C72;
    --cor4: #99738E;
    --cor5: #2F2FA2;
}

* {
    margin: 0;
    padding: 0;

    border: 0;

    box-sizing: border-box;
}

html, body {
    font-family: var(--font-normal);
    scroll-behavior: smooth;
    height: 100vh;

    background: url(../img/venda-img-fundo.jpg) center center no-repeat fixed;
    background-size: cover;
    
}


header div.menu {
    width: 100%;
    font-family: var(--font-titulo2);

    display: flex;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.514));
    box-shadow: 0px 0px 7px black;
}

header div.menu div.menu-logo {
    height: 50px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

header div.menu img {
    max-height: 40px;
}

header div.menu a {
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte1);
    font-size: 1.3em;

    height: 100%;

    padding: 10px;

    transition: all .5s ease;
}

header div.menu a:hover {
    background-color: var(--cor3);

    cursor: pointer;
}


header div.menu ul {
    height: 50px;

    display: flex;
    align-items: center;
}

header div.menu ul li {
    list-style-type: none;
    padding: 0px 15px;

    width: 100%;
}

main section.produto-top {
    width: 100%;
    height: 400px;
}

main section.produto-top .produto-top-titulo {

    background-color: #000000b9;
    color: white;
    
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.747);
}

main section.produto-top .produto-top-titulo h1 {
    font-family: var(--font-titulo);
}

main section.produto-top .container {
    width: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
}

main section.produto-top .container a{
    text-decoration: none;
    color: black;

    transition: transform 2s ease;
}

main section.produto-top .container:hover{
    transform: scale(1.01);

    cursor: pointer;
}

main section.produto-top .container a .prod  {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: whitesmoke;

    padding: 20px;
    margin: 25px 10px;

    border-radius: 10px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.39);

    width: 450px;
    height: 270px;
}

main section.produto-top .container a .prod .prod-img {
    
    width: 90%;
    
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid black;
}

main section.produto-top .container a .prod .prod-img img {
    width: 100%;
    height: 100%;
    max-height: 250px;
}

main section.produto-top .container a .prod .prod-info h1 {
    margin: 10px 10px;
}

main section.produto-top .container a .prod .prod-info p {
    margin: 10px 10px;
}

p.price {
    color: green;
}

main .divisa {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    margin: 20px 0px;

    background-color: #000000b9;
    color: white;

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.747), -1px -1px 5px rgba(0, 0, 0, 0.747);

}

main .divisa h1 {
    font-family: var(--font-titulo);
}

main section.produto .container{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main section.produto .container .prod {
    background-color: whitesmoke;
    width: 350px;
    height: 500px;

    padding: 20px;
    margin: 20px;

    border-radius: 10px;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.39);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main section.produto .container .prod .prod-img {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    width: 90%;
}

main section.produto .container .prod .prod-img img{

    width: 100%;
    
}

main section.produto .container .prod .prod-info h1{
    text-align: center;
    margin: 10px 0px;
    font-size: 1.1em;

    font-family: var(--font-titulo2);
}

main section.produto .container .prod .prod-info p{
    text-align: center;
    margin: 5px 0px;

    font-family: var(--font-normal);
}

main section.produto .container .prod .botao {
    margin: 20px 0px;
}

main section.produto .container .prod .botao{
    padding: 10px;

    background-color: var(--cor5);

}

main section.produto .container .prod .botao a{
    text-decoration: none;
    text-align: center;
    color: white;

    width: 100%;
    height: 100%;
}

main section.produto .container .prod .botao a:hover{
    text-decoration: underline;
}

main section.produto .container .prod .botao:hover{
    background-color: var(--cor2);
}

footer {
    height: 50px;
    width: 100%;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: wheat;
}

footer a {
    color: wheat;
}

footer a:hover {
    cursor: pointer;
    color: var(--cor3);
}

@media (min-width: 300px) and (max-width: 600px){
    header div.menu a {
        font-size: 1em;
        padding: 5px;
    }

    main section.produto-top {
        height: 300px;
    }

    main section.produto-top .container a .prod {
        width: 290px;
        height: 200px;
    }

    main section.produto-top .container a .prod .prod-info p{
        font-size: .7em;
    }

    main section.produto-top .container a .prod .prod-info h1{
        font-size: .7em;
    }

    main section.produto .container .prod{
        width: 290px;
        height: 450px;
    }

}